<head>
<style>
body {
    background-color: lightblue;
}

div {
    color: black;
    text-align: center;
    font-family: verdana, serif;
    font-size: 20px;
}

input {
    color: black;
    text-align: center;
    font-family: verdana, serif;
    font-size: 20px;
}
</style>
</head>


<div>
<%= @game.player1.name %><br>
<%= @game.player1.choice %><br>

<%= @game.player2.name %><br>
<%= @game.player2.choice %><br>

<%= @game.result %><br>



<form>
<input type="button" value="Play Again" onclick="window.location.href='/play'" />
</form>

<form>
<input type="button" value="Reset" onclick="window.location.href='/'" />
</form>

</div>